<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Shop Orders</h1>
    <h2>Today's Customer Orders</h2>
    <div class = "flex">
        {% for order in orders %}
        <div class="flex-container">
            <ul id="customer-order">
                <li><a href="/orders/{{ orders.index(order) }}">Order Number: {{ orders.index(order) }}</a>
                <li>Customer Name: {{ order.customer_name }}</li>
                <li>Order Date: {{ order.order_date }}</li>
                <li>Title: {{ order.book_title }}</li>
                <li>Quantity: {{ order.quantity }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>